@use "variables" as *;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: $font-family-sans;
  background-color: $color-bg-main;
  color: $color-secondary;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;

  &-track {
    background: $color-bg-main;
  }

  &-thumb {
    background: rgba($color-secondary, 0.2);
    border-radius: $radius-md;

    &:hover {
      background: rgba($color-secondary, 0.5);
    }
  }
}
